<mat-sidenav-container class="app-container" (backdropClick)="close('backdrop')">
  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <p><button mat-button (click)="close('toggle button')">Close me</button></p>
    <p><button mat-button (click)="goToPage('dashboard'); close('go page')">Dashboard</button></p>
    <p><button mat-button (click)="goToPage('directive'); close('go page')">Directive</button></p>
    <p><button mat-button (click)="goToPage('home'); close('exit')">Exit</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p *ngIf="!isLanding()"><button mat-button (click)="sidenav.open()">Open Navbar</button></p>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
